Checks: >
  clang-diagnostic-*,
  clang-analyser-*,
  clang-analyzer-security.*,
  -clang-diagnostic-unused-command-line-argument,
  google-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-*,
  -readability-magic-numbers,
  -google-readability-todo

WarningsAsErrors: >
  clang-diagnostic-*,
  clang-analyser-*,
  clang-analyzer-security.*,
  -clang-diagnostic-unused-command-line-argument,
  google-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-*,
  -readability-magic-numbers,
  -google-readability-todo

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '40'

# vim:syntax=yaml