Source: secureEye
Section: misc
Priority: optional
Standards-Version: 3.9.7
Build-Depends: devscripts, git, dh-make, debhelper, fakeroot, python3, python3-pip, python3-setuptools, python3-wheel, ninja-build, meson, libpam0g-dev, libboost-all-dev, pkg-config, libevdev-dev, libinih-dev
Maintainer: Vedran Hrabar  <vedran.hrabar@outlook.com>
Vcs-Git: https://github.com/vhrabar/secureEye

Package: secureEye
Homepage: https://github.com/vhrabar/secureEye
Architecture: amd64, amd64v3, arm64
Depends: ${misc:Depends}, libc6, libgcc-s1, libpam0g, libstdc++6, curl | wget, python3, python3-pip, python3-dev, python3-setuptools, python3-numpy, python-opencv | python3-opencv, libopencv-dev, cmake, libinih-dev
Recommends: libatlas-base-dev | libopenblas-dev | liblapack-dev, secureEye-gtk, v4l-utils
Suggests: nvidia-cuda-dev (>= 7.5)
Description: SecureEye: Windows Hello style authentication for Linux.
 Use your built-in IR emitters and camera in combination with face recognition
 to prove who you are.
