#!/usr/bin/make -f
DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

BUILDDIR = obj-$(DEB_HOST_GNU_TYPE)
SRCDIR = ..

%:
	dh $@

override_dh_clean:
	dh_clean -X__pycache__ -X.pyc

override_dh_auto_configure:
	meson setup --wipe $(BUILDDIR) $(SRCDIR) \
		--wrap-mode=nodownload \
		--buildtype=plain \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--libdir=lib/$(DEB_HOST_MULTIARCH) \
		-Dpython.bytecompile=-1 \
		-Dinih:with_INIReader=true \
		-Dinstall_pam_config=false \
		-Dconfig_dir=/etc/secureEye \
		-Duser_models_dir=/etc/secureEye/models

override_dh_auto_build:
	meson compile -C $(BUILDDIR)

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp meson install -C $(BUILDDIR)

override_dh_install:
	rm -rf debian/libpam-secureeye debian/secureeye-authd debian/secure-eye
	dh_install
	dh_missing --list-missing
